@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  /* Animation */
}

body .load-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  background: lightblue;
  -webkit-transition: visibility ease-in-out 3s;
  transition: visibility ease-in-out 3s;
  visibility: hidden;
}

body .loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: fixed;
  z-index: 5;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: visibility ease-in-out 3s;
  transition: visibility ease-in-out 3s;
  visibility: hidden;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body .full-pal-img {
  position: relative;
}

body .full-pal-img img {
  max-width: 100%;
  min-width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

body main {
  position: relative;
  margin-top: -4rem;
  z-index: 2;
  overflow: visible;
}

.restaurants {
  background-color: lightgray;
}

.restaurants a {
  text-decoration: none;
  color: black;
}

.restaurants .rest-wrapper {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.restaurants .rest-wrapper .rest-wrap {
  padding-bottom: 1rem;
}

.restaurants .rest-wrapper h2 {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.restaurants .rest-wrapper .rest-card {
  background-color: white;
  border-radius: 20px;
  height: 18rem;
  -webkit-box-shadow: 0.1em 0.1em 0.1em 0.1em lightgray;
          box-shadow: 0.1em 0.1em 0.1em 0.1em lightgray;
  margin-bottom: 1rem;
}

.restaurants .rest-wrapper .rest-card img {
  height: 70%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants .rest-wrapper .rest-card .rest-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.3rem;
}

.restaurants .rest-wrapper .rest-card .rest-info .target:hover .heart2 {
  opacity: 100%;
  color: #9356DC;
}

.restaurants .rest-wrapper .rest-card .rest-info .target:hover .heart3 {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.restaurants .rest-wrapper .rest-card .rest-info .heart2 {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.restaurants .rest-wrapper .rest-card .new {
  color: green;
  font-weight: 500;
  background-color: #99E2D0;
  display: inline-block;
  padding: 0.5rem 2rem 0.5rem 2rem;
  position: relative;
  bottom: 17rem;
  left: 14rem;
}

.book-menu {
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
  background-color: whitesmoke;
}

.book-menu h2 {
  padding: 1rem;
}

.book-menu p {
  padding: 1rem;
  font-size: large;
}

.book-menu button {
  padding: 1rem;
  padding-bottom: 1rem;
  border-radius: 30px;
  border-style: none;
  font-size: large;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #fff;
}

.how {
  padding: 1rem;
}

.how .how-it {
  padding-bottom: 1rem;
}

.how .how-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
  height: 20rem;
}

.how button {
  background: whitesmoke;
  border-style: none;
  border-radius: 30px;
  height: 5rem;
  width: 95%;
  padding-left: 3rem;
  -webkit-box-shadow: 1em 0.5em 0.5em lightgray;
          box-shadow: 1em 0.5em 0.5em lightgray;
  font-size: medium;
  font-weight: bold;
  text-align: left;
}

.how .choose::before {
  content: "1";
  position: relative;
  top: 0.1rem;
  left: -3.5rem;
  background-color: #9356DC;
  padding: 0.5rem;
  color: white;
  font-weight: lighter;
  font-size: medium;
  border-radius: 50%;
}

.how .create::before {
  content: "2";
  position: relative;
  top: 0.1rem;
  left: -3.5rem;
  background-color: #9356DC;
  padding: 0.5rem;
  color: white;
  font-weight: lighter;
  font-size: medium;
  border-radius: 50%;
}

.how .go::before {
  content: "3";
  position: relative;
  top: 0.1rem;
  left: -3.5rem;
  background-color: #9356DC;
  padding: 0.5rem;
  color: white;
  font-weight: lighter;
  font-size: medium;
  border-radius: 50%;
}

.head-container {
  position: relative;
  z-index: 1;
}

.head-container .logo {
  text-align: center;
  padding: 1rem;
}

.head-container .location {
  text-align: center;
  background-color: lightgray;
  padding: 1rem;
}

.foot {
  background-color: black;
  color: white;
  padding: 1rem;
}

.foot img {
  width: 30%;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.foot p {
  padding-bottom: 0.2rem;
}

@media screen and (min-width: 768px) {
  .how .how-btn {
    height: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .how button {
    width: 30%;
  }
  .restaurants .rest-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurants .rest-wrapper .rest-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1rem;
  }
  .restaurants .rest-wrapper .rest-wrap .rest-card {
    display: inline-block;
    width: 47%;
    margin-left: 10px;
  }
  .restaurants .rest-wrapper .rest-wrap .rest-card .new {
    position: relative;
    bottom: 17rem;
    left: 30rem;
  }
}

@media screen and (min-width: 1024px) {
  .restaurants .rest-wrapper .rest-wrap .rest-card .new {
    position: relative;
    bottom: 17rem;
    left: 20rem;
  }
}

main {
  background-color: whitesmoke;
  border-radius: 40px;
}

main .fp-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}

main .fp-title .target:hover .heart2 {
  opacity: 100%;
  color: #9356DC;
}

main .fp-title .target:hover .heart3 {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

main .fp-title .heart2 {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

main .fp-title h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 900;
  font-size: 1.8rem;
  margin-left: 1rem;
}

.fp-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.fp-menu .ent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 1rem;
  margin-top: 1rem;
}

.fp-menu .ent .ent-txt {
  width: 100%;
  padding: 0.5rem;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.fp-menu .ent .ent-txt h3 {
  font-weight: 500;
}

.fp-menu .ent .ent-txt:hover + .slide-tick {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  visibility: visible;
}

.fp-menu .ent .ent-txt:hover {
  width: 90%;
}

.fp-menu .ent .price-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fp-menu .ent .slide-tick {
  display: inline-block;
  color: white;
  height: 3.6rem;
  width: 10%;
  background-color: #99E2D0;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0 1rem 1rem 0;
  position: absolute;
  right: 1rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  visibility: hidden;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.fp-menu .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: growDown 4s ease-in-out;
          animation: growDown 4s ease-in-out;
}

.fp-menu .items .item-title {
  margin-top: 2rem;
  margin-left: 0.2rem;
}

.fp-menu .order button {
  padding: 1rem 4rem 1rem 4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 50px;
  border-style: none;
  font-size: large;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #fff;
}

@-webkit-keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
/*# sourceMappingURL=main.css.map */