@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import './base/resets';
@import './base/body';
@import './utils/variables';
@import './layouts/restaurant';
@import './layouts/book-menu';
@import './layouts/how';
@import './layouts/header';
@import './layouts/foot';
@import './base/media';

body {
    .head-container {
        a {
            text-decoration: none;
            color: black;
        }

        .logo {
            text-align: center;
            padding: 1rem;
        }

        .back-btn {
            position: absolute;
            left: 1rem;
            text-decoration: none;
        }
    }
}

.rest {
    background-color: whitesmoke;
    border-radius: 40px 40px 0 0;
}

main {
    
    
    .rest-title {  
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;

        .target {
            position: relative;
            bottom: 1rem;
        }

        .target:hover .heart2 {
            opacity: 100%;
            color: $primary-color;
        }

        .target:hover .heart3 {
            opacity: 0;
            transition: opacity 2s;
        }
          
          .heart2 {
            opacity: 0;
            transition: opacity 2s;
          }

        h1 {
            font-family: 'Shrikhand', cursive;
            font-weight: 900;
            font-size: 1.8rem;
            margin-left: 1rem;
        }

    }
}

.rest-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    .items {

        .underline {
            width: 3rem;
            height: 0.2rem;
            margin-left: 0.2rem;
            margin-top: 0.3rem;
            background-color: $tertiary-color;
        }
        
    }
    

    .ent {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 1rem;
        margin-top: 1rem;
        

        .ent-txt {
            width: 100%;
            padding: 0.5rem;
            transition: all 500ms ease-in-out;
            

            h3 {
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .desc {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }


            &:hover + .slide-tick {
                transform: scaleX(1);
                visibility: visible;

                .icon-rotate {
                    animation: rotation 1s normal linear;
                }
            }

            &:hover {
                width: 90%;
            }
        }

        .price-wrap {
            display: flex;
            justify-content: space-between;
        }

        .slide-tick {
            display: inline-block;
            color: white;
            height: 3.6rem;
            width: 10%;
            background-color: $tertiary-color;
            text-align: center;
            padding-top: 1.4rem;
            padding-bottom: 1rem;
            border-radius: 0 1rem 1rem 0;
            position: absolute;
            right: 1rem;
            transform-origin: right;       
            transform: scaleX(0);
            visibility: hidden;
            transition: transform 1s ease-in-out;
            
        }

    }

    @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

    .items {
        display: flex;
        flex-direction: column;
        width: 100%;
        transform-origin: top;
        animation: growDown 4s ease-in-out;
        
        
        
        .item-title {
            margin-top: 2rem;
            margin-left: 0.2rem;
            
        }

   
    
    }

    .order {

        button {
            
            padding: 1rem 4rem 1rem 4rem;
            margin-top: 3rem;
            margin-bottom: 3rem;
            border-radius: 50px;
            border-style: none;
            font-size: large;
            background-image: linear-gradient(to bottom right, $secondary-color, $primary-color);
            color: #fff;
        }

    }
    

}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}








