@media screen and (min-width: 321px) and (max-width: 480px) {
    .restaurants {

        .rest-wrapper {
 
            .rest-wrap {

                .rest-card {
                    min-width: 98%;
                    max-width: 98%;

                    .new {
                        position: relative;
                        bottom: 17rem;
                        left: 11rem;
                    }
                }

            }

        }        

    }
}


@media screen and (min-width: 480px) and (max-width: 540px){
    .restaurants {

        .rest-wrapper {
 
            .rest-wrap {

                .rest-card {

                    .new {
                        position: relative;
                        bottom: 17rem;
                        left: 20rem;
                    }
                }

            }

        }        

    }
}



@media screen and (min-width: 540px) and (max-width: 640px) {
    .restaurants {

        .rest-wrapper {
 
            .rest-wrap {

                .rest-card {

                    .new {
                        position: relative;
                        bottom: 17rem;
                        left: 24rem;
                    }
                }

            }

        }        

    }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    .restaurants {

        .rest-wrapper {
 
            .rest-wrap {

                .rest-card {

                    .new {
                        position: relative;
                        bottom: 17rem;
                        left: 29rem;
                    }
                }

            }

        }        

    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    

    .how {


        .how-btn {
            height: 100px;
            flex-direction: row;
            justify-content: space-between;
        }
    

        button {
            width: 30%;
            
        }
    }  

    .restaurants {


        .rest-wrapper {
            
             
            display: flex;
            flex-direction: column;
            .rest-wrap {
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;

                .rest-card {
                    display: inline-block;
                    width: 47%;
                    margin-left: 10px;
                    min-width: 48%;
                    max-width: 48%;

                    .new {
                        position: relative;
                        bottom: 17rem;
                        left: 14rem;
                    }
                }

            }

        }
    
    }
}


@media screen and (min-width: 1024px) and (max-width: 1200px) {
    
    .how {


        .how-btn {
            height: 100px;
            flex-direction: row;
            justify-content: space-between;
        }
    

        button {
            width: 30%;
            
        }
    }  

    .restaurants {


        .rest-wrapper {
            
             
            display: flex;
            flex-direction: column;
            .rest-wrap {
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;

                .rest-card {
                    display: inline-block;
                    width: 47%;
                    margin-left: 10px;
                    min-width: 48%;
                    max-width: 48%;

                    .new {
                        position: relative;
                        bottom: 17rem;
                        left: 21rem;
                    }
                }

            }

        }
    
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    
    .how {


        .how-btn {
            height: 100px;
            flex-direction: row;
            justify-content: space-between;
        }
    

        button {
            width: 30%;
            
        }
    }  

    .restaurants {


        .rest-wrapper {
            
             
            display: flex;
            flex-direction: column;
            .rest-wrap {
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;

                .rest-card {
                    display: inline-block;
                    width: 47%;
                    margin-left: 10px;
                    min-width: 48%;
                    max-width: 48%;

                    .new {
                        position: relative;
                        bottom: 17rem;
                        left: 26rem;
                    }
                }

            }

        }
    
    }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
    .how {


        .how-btn {
            height: 100px;
            flex-direction: row;
            justify-content: space-between;
        }
    

        button {
            width: 30%;
            
        }
    }  

    .restaurants {


        .rest-wrapper {
            
             
            display: flex;
            flex-direction: column;
            .rest-wrap {
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;

                .rest-card {
                    display: inline-block;
                    width: 47%;
                    margin-left: 10px;
                    min-width: 48%;
                    max-width: 48%;

                    .new {
                        position: relative;
                        bottom: 17rem;
                        left: 31rem;
                    }
                }

            }

        }
    
    }
}

@media screen and (min-width: 1600px) {
    .how {


        .how-btn {
            height: 100px;
            flex-direction: row;
            justify-content: space-between;
        }
    

        button {
            width: 30%;
            
        }
    }  

    .restaurants {


        .rest-wrapper {
            
             
            display: flex;
            flex-direction: column;
            .rest-wrap {
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;

                .rest-card {
                    display: inline-block;
                    min-width: 48%;
                    max-width: 48%;
                    margin-left: 10px;

                    .new {
                        position: relative;
                        bottom: 17rem;
                        left: 36rem;
                    }
                }

            }

        }
    
    }
}

