@media screen and (min-width: 768px) {
    

    .how {


        .how-btn {
            height: 100px;
            flex-direction: row;
            justify-content: space-between;
        }
    

        button {
            width: 30%;
            
        }
    }  

    .restaurants {


        .rest-wrapper {
            align-items: center;
            display: flex;
            flex-direction: column;
            .rest-wrap {
                display: flex;
            }

        }
       


        .rest-card {
            display: inline-block;
            width: 47%;
            // margin-left: 10px;
        }
    }

}