.head-container {
    position: relative;
    z-index: 1;
    .logo {
        text-align: center;
        padding: 1rem;
    }

    .location {
        text-align: center;
        background-color: lightgray;
        padding: 1rem;
    }
}