.main-head-container {

    height: 11.5rem;
    
    .logo {
        text-align: center;
        padding: 1rem;
    }

    .location {
        text-align: center;
        background-color: lightgray;
        padding: 1rem;

        i {
            padding-right: 0.5rem;
        }
    }
}