.restaurants {
    background-color: lightgray;
    // padding: 1rem;

    a {
        text-decoration: none;
        color: black;
    }

    

    .rest-wrapper {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 1rem;
        
        .rest-wrap {
            padding-bottom: 1rem;
        }
        

        h2 {
            padding-top: 3rem;
            padding-bottom: 1rem;
        }

        .rest-card {
            background-color: white;
            border-radius: 20px;
            height: 18rem;
            box-shadow: 0.1em 0.1em 0.1em 0.1em lightgray;
            margin-bottom: 1rem;
    
            img {
                height: 70%;
                width: 100%;
                border-radius: 20px 20px 0 0;
                object-fit: cover;
            }
    
            // p {
            //     padding-top: 0.4rem;
            // }
    
            .rest-info {
                display: flex;
                justify-content: space-between;
                padding: 0.5rem;
                margin-left: 0.5rem;
                margin-top: 0.3rem;

                p {
                    padding-top: 0.3rem;
                }
            
                // .fas {
                //     padding-right: 1rem;
                //     color: gray;
                //     fill: blue;    
                
                // }
                
                .target:hover .heart2 {
                    opacity: 100%;
                    color: $primary-color;
                }

                .target:hover .heart3 {
                    opacity: 0;
                    transition: opacity 2s;
                }
                  
                  .heart2 {
                    opacity: 0;
                  }

                .target {
                    position: relative;
                    bottom: 1rem;
                }
                
                
            }

            .new {
                color: green;
                font-weight: 500;
                background-color: $tertiary-color;
                display: inline-block;
                padding: 0.5rem 2rem 0.5rem 2rem;
                position: relative;
                bottom: 17rem;
                
                left: 14rem;
                    
            }
        }
    }

    
    
}