.restaurants {
    background-color: whitesmoke;
    // padding: 1rem;

    a {
        text-decoration: none;
        color: black;
    }

    

    .rest-wrapper {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 3rem;

        h2 {
            padding-top: 3rem;
            padding-bottom: 1rem;
        }

        .rest-card {
            background-color: white;
            border-radius: 20px;
            height: 18rem;
            margin-bottom: 1rem;
            box-shadow: 1em 0.5em 0.5em lightgray;
    
            img {
                height: 70%;
                width: 100%;
                border-radius: 20px 20px 0 0;
                object-fit: cover;
            }
    
            // p {
            //     padding-top: 0.4rem;
            // }
    
            .rest-info {
                display: flex;
                justify-content: space-between;
                padding: 0.5rem;
                margin-left: 0.5rem;
                margin-top: 0.3rem;
            
                .fas {
                    padding-right: 1rem;
                    color: gray;
                    fill: blue;    
                
                }
                .heart1:hover {
                    opacity: 100%;
                    color: rgba(250,184,66, 1);
                  }
                  
                .heart1 {
                    opacity: 0;
                    transition: opacity 1s;
                }
            }

            .new {
                color: green;
                font-weight: 500;
                background-color: $tertiary-color;
                display: inline-block;
                padding: 0.5rem 2rem 0.5rem 2rem;
                position: relative;
                bottom: 15.5rem;
                left: 14rem;
                
            }
        }
    }

    
    
}