.restaurants {
    background-color: whitesmoke;
    padding: 1rem;

    a {
        text-decoration: none;
        color: black;
        
        .rest-txt {
            padding: 0.5rem;
            
        }
    }

    h2 {
        padding-top: 2rem;
    }

    .rest-wrapper {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .rest-card {
        background-color: white;
        border-radius: 20px;
        height: 250px;
        margin-bottom: 1rem;
        box-shadow: 1em 0.5em 0.5em lightgray;

        img {
            height: 75%;
            width: 100%;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
        }
    }
    
}